######FILE SERVICE#######
university-board-file-service-s3/HELP.md
university-board-file-service-s3/target/
university-board-file-service-s3/!.mvn/wrapper/maven-wrapper.jar
university-board-file-service-s3/!**/src/main/**/target/
university-board-file-service-s3/!**/src/test/**/target/
### STS ###
university-board-file-service-s3/.apt_generated
university-board-file-service-s3/.classpath
university-board-file-service-s3/.factorypath
university-board-file-service-s3/.project
university-board-file-service-s3/.settings
university-board-file-service-s3/.springBeans
university-board-file-service-s3/.sts4-cache
### IntelliJ IDEA ###
university-board-file-service-s3/.idea
university-board-file-service-s3/*.iws
university-board-file-service-s3/*.iml
university-board-file-service-s3/*.ipr
### NetBeans ###
university-board-file-service-s3/nbproject/private/
university-board-file-service-s3/nbbuild/
university-board-file-service-s3/dist/
university-board-file-service-s3/nbdist/
university-board-file-service-s3/.nb-gradle/
university-board-file-service-s3/build/
university-board-file-service-s3/!**/src/main/**/build/
university-board-file-service-s3/!**/src/test/**/build/
### VS Code ###
university-board-file-service-s3/.vscode/


university-board-file-service-s3/src/main/resources/application.properties
university-board-file-service-s3/mvnw
university-board-file-service-s3/mvnw.cmd
university-board-file-service-s3/.mvn/wrapper/maven-wrapper.jar
university-board-file-service-s3/.mvn/wrapper/maven-wrapper.properties

######BACKEND#######
university-board-backend/HELP.md
university-board-backend/target/
university-board-backend/!.mvn/wrapper/maven-wrapper.jar
university-board-backend/!**/src/main/**/target/
university-board-backend/!**/src/test/**/target/
### STS ###      
university-board-backend/.apt_generated
university-board-backend/.classpath
university-board-backend/.factorypath
university-board-backend/.project
university-board-backend/.settings
university-board-backend/.springBeans
university-board-backend/.sts4-cache
### IntelliJ IDEA
university-board-backend/.idea
university-board-backend/*.iws
university-board-backend/*.iml
university-board-backend/*.ipr
### NetBeans ### 
university-board-backend/nbproject/private/
university-board-backend/nbbuild/
university-board-backend/dist/
university-board-backend/nbdist/
university-board-backend/.nb-gradle/
university-board-backend/build/
university-board-backend/!**/src/main/**/build/
university-board-backend/!**/src/test/**/build/
### VS Code ###  
university-board-backend/.vscode/
				 
university-board-backend/src/main/resources/application.properties
university-board-backend/mvnw
university-board-backend/mvnw.cmd
university-board-backend/.mvn/wrapper/maven-wrapper.jar
university-board-backend/.mvn/wrapper/maven-wrapper.properties

