.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-button {
  margin: 0 5px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boards-buttons-left {
  display: flex;
  gap: 10px;
}

.boards-buttons-right {
  margin-left: auto;
}

.boards-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}
