.form-container {
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.field-group {
  display: flex;
  gap: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.save-button {
  background-color: #1976d2;
  color: #ffffff;
  &:hover {
    background-color: #1565c0;
  }
}

.main-content {
  margin: 5vh;
}
